*{
	padding:0;
    margin:0;
}
.boxzhong {
display: -webkit-box;
-webkit-box-sizing: border-box;
background-color: #F5F5F5;
}
.boxzhong > * {
-webkit-box-flex:1;
-moz-box-flex: 1;
}
a:link,a:visited{
	color: #575757;
	text-decoration: none;
}
a{
	text-decoration: none;
}
.nav4zhong{
	height:45px;
}
.nav4zhong ul{
	position:fixed;
	z-index:200;
	bottom:-10px;
	left:-20px;
	width:105%;
	padding-left: 10px;
}
.nav4zhong li{
	
	height:45px;
	border-bottom:-10px;
	border-right:0;
	position:relative;	
	float:left;
	width:35%;
	display: inline-block;	
	text-align: center;
}
.nav4zhon{
	position: absolute;
    margin-top: 50px;
}
.nav4zhong ul{
	position:fixed;
	z-index:200;
	bottom:-10px;
	left:-20px;
	width:105%;
	padding-left: 40px;
}
.nav4zhong li{
	position: absolute;
	left: 50px;
	top: 50px;
	
	
	text-align: center;
}

